<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Talenty Admin Tool</title>

    <!-- Import css styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">

    <!-- Upper navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 style="color:#fff;">Talenty</h1>
            </div>

            <!-- Logout -->
            <span class="logout-spn">
                <button onclick="logout()" style="background-color:rgba(0,0,0,0);">LOGOUT</button>
                </span>
        </div>
    </div>

    <!-- Left navigation bar -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="dashboard"><i class="fa fa-desktop "></i>Dashboard <span
                            class="dropdown_lists_page">Beta</span></a>
                </li>
                <li class="active-link">
                    <a href="dropdown_lists"><i class="fa fa-edit "></i>Dropdown Lists<span
                            class="dropdown_lists_page">Beta</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main right part -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>DROPDOWN LISTS</h2>
                    <button onclick="openNewTypeModal()">+</button>
                </div>
            </div>
            <hr/>
            <div>
                <ul th:each="type_obj, i : ${types_list} ">
                    <h2 th:text="${type_obj.type}"></h2>
                    <input th:attr="onclick='openEditModal(\'' + ${i.index}+  '\');'"
                           type="button"
                           value="edit value list"/>
                    <input type="button" value="delete"/>
                    <hr/>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="modal" class="modal">
    <div id="modal_content" class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="row">
        <div class="col-lg-12">
            &copy; 2022 talenty.am | Design by: <a href="http://localhost:3000" style="color:#fff;"
                                                   target="_blank">www.talenty.am</a>
        </div>
    </div>
</div>

<!-- Import scripts -->
<script type="text/javascript" src="../static/js/ScrollingAction.js" th:src="@{/js/ScrollingAction.js}"></script>
<script type="text/javascript" src="../static/js/jquery-1.10.2.js" th:src="@{/js/jquery-1.10.2.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>

</body>
</html>
